# SPDX-FileCopyrightText: 2026 Kaito Udagawa <umireon@kaito.tokyo>
#
# SPDX-License-Identifier: Apache-2.0

.DS_Store
.cache/
.venv/
__pycache__/

.venv*/
*.pyc

/.deps/
/build/
/docs/build/
/docs/dist/
/release/

/.ccache*/
/*_installed/
/build_*/
