# SPDX-FileCopyrightText: 2026 Kaito Udagawa <umireon@kaito.tokyo>
#
# SPDX-License-Identifier: Apache-2.0

.DS_Store
.cache/
.venv/
__pycache__/

.ccache*/
.venv*/
build_*/
*_installed/

/.deps/
/.vcpkg_archives/
/build/
/docs/build/
/docs/dist/
/release/
