# SPDX-FileCopyrightText: 2026 Kaito Udagawa <umireon@kaito.tokyo>
#
# SPDX-License-Identifier: Apache-2.0

[submodule "vendor/obs-studio"]
	path = vendor/obs-studio
	url = https://github.com/obsproject/obs-studio.git
