# SPDX-FileCopyrightText: 2026 Kaito Udagawa <umireon@kaito.tokyo>
#
# SPDX-License-Identifier: Apache-2.0

[submodule "vendor/obs-studio"]
	path = vendor/obs-studio
	url = https://github.com/obsproject/obs-studio.git
[submodule "vendor/onnxruntime"]
	path = vendor/onnxruntime
	url = https://github.com/microsoft/onnxruntime.git
[submodule "vendor/vcpkg"]
	path = vendor/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "vendor/ncnn"]
	path = vendor/ncnn
	url = https://github.com/Tencent/ncnn.git
[submodule "vendor/opencv"]
	path = vendor/opencv
	url = https://github.com/opencv/opencv.git
