ai.onnx;11;Add,AveragePool,Cast,Clip,Concat,Constant,Conv,ConvInteger,ConvTranspose,Div,DynamicQuantizeLinear,Expand,Gather,GlobalAveragePool,LeakyRelu,MatMul,Max,MaxPool,Min,Mul,Pow,Relu,Reshape,Resize,Shape,Sigmoid,Slice,Softmax,Split,Squeeze,Sub,Tanh,Transpose,Unsqueeze
ai.onnx;12;Add,AveragePool,BatchNormalization,Clip,Concat,Constant,Conv,ConvTranspose,Div,Expand,Flatten,Gemm,GlobalAveragePool,HardSigmoid,MatMul,MaxPool,Mul,PRelu,ReduceMean,Relu,Reshape,Resize,Shape,Sigmoid,Slice,Softmax,Split,Sub,Tanh,Transpose
ai.onnx;13;Add,Conv,ConvTranspose,Mul,ReduceSum,Relu,Reshape,Resize,Softmax,Transpose
